<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{page.title}} | MichiganLabs</title>
  <meta charset="utf-8">

  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!--[if lt IE 9]>
    <script src="{{ ASSET_PATH }}/resources/respond/Respond.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/pygments.css">
</head>
